{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 80,
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "proseWrap": "always",
  "jsxBracketSameLine": false
}
